<h3>Update Customer</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">NOM</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="customer.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="name">PRENOM</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="customer.prenom" name="prenom">
    </div>

    <div class="form-group">
      <label for="name">jour</label>
      <input type="number" class="form-control" placeholder="14" id="jour" required [(ngModel)]="customer.jour" name="jour">
    </div>

    <div class="form-group">
      <label for="name">Mois</label>
      <input type="number" class="form-control" placeholder="03" id="mois" required [(ngModel)]="customer.mois" name="mois">
    </div>

    <div class="form-group">
      <label for="name">Année</label>
      <input type="number" class="form-control" placeholder="2000" id="annee" required [(ngModel)]="customer.annee" name="annee">
    </div>
    <div class="form-group">
      <label for="name">numero sécurité sociale</label>
      <input type="number" class="form-control" placeholder="123456789" id="nss" required [(ngModel)]="customer.nss" name="nss">
    </div>
    <label for="name">Adresse</label>
      <input type="text" class="form-control" id="Adresse" required [(ngModel)]="customer.adresse" name="adresse">
    <div class="form-group">
      <label for="name">Telephone</label>
      <input type="tel" class="form-control"  id="emailId" required [(ngModel)]="customer.tel" name="Telephone">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>